/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  padding: auto;
  background-image: url('images/sun.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid grey;
}

/* Header Styles */
header {
  background-color: #0077b6;
  color: #f2f2f2;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 48px;
  line-height: 1.2;
}

header p {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}

nav a.active, nav a:hover {
  background-color: #0077b6;
  color: #fff;
}

main {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: auto;
}

section h2 {
  margin-bottom: 10px;
}

/* Home Page Styles */
#home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden; /* Add this line */
}

#home h1 {
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 20px;
}

#home p {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* Profile Page Styles */
#profile img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#profile h3 {
  color: #123456}
  






